body{background: #fff;color: #000;font-size: 1rem;}
input{border-color: #ddd !important;font-size: 16px !important;color: #333 !important;}
input[readonly]{cursor: pointer !important;background: #f5f5f5 !important;border: 1px solid #ddd !important;}
input[placeholder]{color: #ccc !important;}
select{font-size: 14px;border-color: #ddd !important;}
textarea{border-color:#ddd !important;font-size: 1.4rem !important; }
a[disabled]{background: #ccc;}
input[readonly]{background: #f5f5f5 !important;border:1px solid #ddd !important;}
.am-btn-default{border-color: #ddd !important;}
.btn-gray{background: #f5f5f5 !important;border: 1px solid #ddd !important;border-radius: 2px;color: #333 !important; padding-left:10px; padding-right: 10px;}
.btn-gray-o{background: #fff !important;border: 1px solid #ddd !important;border-radius: 2px;color: #999 !important; padding-left:10px; padding-right:10px;}
.btn-grayer{background: #ccc !important;border: 1px solid #ccc !important;border-radius: 2px;color: #fff !important;}
.btn-orange{background: #ea5413 !important;border: 1px solid #ea5413 !important;border-radius: 2px;color: #fff !important; padding-left:10px; padding-right: 10px;}
.btn-orange-o{background: #fff !important;border: 1px solid #ea5413 !important;border-radius: 2px;color: #ea5413 !important; padding-left:10px; padding-right: 10px;}
.btn-blue-o{background: #fff !important;border: 1px solid #31cbf9 !important;border-radius: 2px;color: #31cbf9 !important; padding-left:10px; padding-right: 10px;}
.btn-blue{background: #31cbf9 !important;border: 1px solid #31cbf9 !important;border-radius: 2px;color: #fff !important; padding-left:10px; padding-right: 10px;}
.btn-del{color: #666;border: 1px solid #ccc;border-radius: 2px;font-size: 1.2rem; padding: 2px 10px;}
.btn-del:focus,.btn-del:active{color:#666;}
.mtop10{margin-top:10px;}
.mleft10{margin-left:10px;}
.mright10{margin-right:10px;}
.mbottom10{margin-bottom:10px;}
.ptop10{padding-top:10px;}
.ptop6{padding-top:6px;}
.pbottom6{padding-bottom:6px;}
.pleft10{padding-left:10px;}
.pright10{padding-right:10px;}
.pbottom10{padding-bottom:10px;}
.mbottom6{margin-bottom:6px;}
.m10{margin:10px;}
.p5{padding: 6px;}
.p10{padding: 10px;}
.m0{margin:0 !important;}
.p0{padding: 0 !important;}
.mtop0{margin-top:0 !important;}
.mleft0{margin-left:0 !important;}
.mright0{margin-right:0 !important;}
.mbottom0{margin-bottom:0 !important;}
.ptop0{padding-top:0 !important;}
.pleft0{padding-left:0 !important;}
.pright0{padding-right:0 !important;}
.pbottom0{padding-bottom:0 !important;}
.mtop3{margin-top: 3px;}
.bg-white{background: #fff !important;}
.bg-thingray{background: #f8f8f8;}
.bg-thingrayer{background: #f5faff;}
.bg-f8f8f8{background: #f8f8f8 !important;}
.bg-f4f4f4{background: #f4f4f4;}
.bg-gray{background: #ddd;}
.border-ddd{border:1px solid #f4f4f4 !important;}
.border-top-f1{border-top: 1px solid #f1f1f1;}
.border-bottom-f1{border-bottom: 1px solid #f1f1f1;}
.border-bottom{border-bottom: 1px solid #f4f4f4;}
.border-top{border-top: 1px solid #f4f4f4;}
.border-left{border-left: 1px solid #f4f4f4;}
.border-right{border-right: 1px solid #f4f4f4;}
.border-bottom-f4{border-bottom: 1px solid #f4f4f4;}
.c333{color: #333 !important;}
.c999{color: #999;}
.c666{color: #666;}
.border-top-none{border-top: none !important;}
.border-bottom-none{border-bottom: none !important;}
.border-left-none{border-left: none !important;}
.border-right-none{border-right: none !important;}
.input-border-none{border:none !important;}
.price{color: #ea5413;}
.alink{color: #31cbf9 !important;}
.red{color: #f00 !important;}
.orange{color: #ea5413 !important;}
.white{color: #fff;}
.white:focus,.white:active{color: #fff;}
.t12{font-size: 12px !important;}
.t13{font-size: 0.8rem !important;}
.t14{font-size: 0.9rem !important;}
.t15{font-size: 1rem !important;}
.t16{font-size: 1.2rem;}
.t20{font-size: 1.6rem;}
.tbig{font-size: 2.8rem;}
.tbiger{font-size: 4.0rem;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both !important;width: 100%;height:1px;}
.underline{text-decoration: underline;}
.numf{font-family: Arial;}
.wl-close{position: absolute;right: 10px;top: 8px !important;padding: 3px 5px;background: #31cbf9 !important;border: 1px solid #31cbf9 !important;border-radius: 2px;color: #fff;}
.wl-close:hover,.wl-close:focus{color: #fff;}
.fw-nomal{font-weight: normal;}
.mheight{ height:44px;}
.lineheight{line-height: 28px;}

.mbottom49{margin-bottom: 49px;}
.mtop49{margin-top: 49px;}
.pbottom49{padding-bottom: 49px;}
.ptop49{padding-top: 49px;}
/*.am-checkbox .am-icon-checked:before, .am-checkbox-inline .am-icon-checked:before{content: "\f14a"}
.am-checkbox .am-icon-unchecked:before, .am-checkbox-inline .am-icon-unchecked:before{}*/
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{ color: #ea5413;font-size: 1.4rem;}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 1.4rem;}
.log-header.mui-bar{}
.mui-bar-nav{box-shadow: none;}
.mui-content{background: #f8f8f8;height: 100%;overflow-y: auto;width: 100%;}
.loading{padding-top: 50%;margin-top: -12px; padding-left: 50%;margin-left: -12px;width: 100%; height: 100%;}
/*.icon-left-angle{background: url("../images/arrow-left.png") no-repeat;background-size: 20px 17px;display: inline-block;width: 20px;height: 17px;margin-top: 14px;}*/
.mui-numbox{width: 80px;height: 30px;padding:0 28px;margin-top: 5px;}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{width: 30px;background-color: #fff;}
.mui-input-group .mui-input-row:after{background-color: #f1f1f1;}
.mui-input-group:before{background-color: #f1f1f1;}
.mui-input-group:after{background-color: #f1f1f1;}
.sc-truncate{text-overflow: ellipsis; overflow: hidden;white-space: nowrap; word-wrap: normal;}
.fw-nomal{line-height: 1rem;}
/*提示弹框*/
.tips-m{position:fixed;left:0px;bottom: 30%;top:auto;z-index:5;width: 100%; height: 48px;line-height: 48px;text-align: center; }
.tips-m span{background: #000;opacity: 0.6;-moz-opacity:0.6; filter:alpha(opacity=60);color: #fff; padding: 0px 30px;display: inline-block;border-radius: 10px;}
.tip-modal .am-modal-dialog{border-radius: 3px;}

/*========输入框提示信息========*/
#vld-tooltip {
    position: absolute;
    z-index: 1000;
    padding: 5px 10px;
    background: #F37B1D;
    min-width: 150px;
    color: #fff;
    transition: all 0.15s;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    display: none;
    font-size: 14px;
}

#vld-tooltip:before {
    position: absolute;
    bottom: -8px;
    left: 0%;
    width: 0;
    height: 0;
    margin-left: 30px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #F37B1D;

    /*border-color: transparent transparent #F37B1D;*/
    /*border-style: none inset solid;*/
}

.ptips{position:absolute;top:-30px;left:5px;border-radius:2px; background:#dd504c;color:#fff;font-size:1.2rem; padding:2px 5px;}
.ptips.am-active{display:none;}
.ptips-caret{
	position: absolute;
    left: 20px;
	bottom: -4px;
    z-index: 100;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 4px solid #dd504c;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 0 dotted;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    overflow: hidden;
	margin-left:-4px;
}
.mui-popup-inner{border-radius: 3px;overflow: hidden;}
.am-btn-link,.am-btn-link:focus,.am-btn-link:active{color: #576b95;}


.sc-search input{padding-left:20px;outline : none !important;box-shadow: none !important;font-size: 12px !important; background: url("../images/gys/search.png") no-repeat left 12px center #fff !important;background-size: 15px 15px !important;font-size: 14px !important;color: #999 !important;border: 1px solid #ccc;border-radius: 20px !important;text-align: left !important;}
.mui-bar .sc-search input[type=search]{height: 32px !important;}
.sc-search.mui-search .mui-placeholder{text-align: left !important; padding-top: 6px;padding-left: 10px;font-size: 14px;}

.mui-bar .sc-search.mui-search:before {
    margin-top: -22px;
    margin-left: 5px;
}
.sc-search span.mui-icon.mui-icon-clear{margin-top:13px !important;}
.mui-bar .sc-search.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-bar .sc-search.mui-input-row .mui-input-speech~.mui-icon-speech{right: 0 !important;}

.sc-search-bg input{background: url("../images/gys/search.png") no-repeat left 12px center #fff !important;background-size: 15px 15px !important;font-size: 14px !important;color: #999 !important;}

/*底部公共导航*/
.mui-bar{background-color: #fff;box-shadow:none;border-top: 1px solid #f4f4f4;line-height: 15px;}
.mui-bar-tab .mui-tab-item.mui-active{color: #ea5413;}

/*公共下滑线*/
.mui-table-view:before{background-color: #f4f4f4;}
.mui-table-view-cell:after{background-color: #f4f4f4 !important;}
.mui-table-view:after{background-color: #f4f4f4 !important;}






